{% extends "base.jinja2" %}
{% block content %}
    <div class="container">
        <h2>Some instructions to through to use the small flask application</h2>
        <p>Use /register or /login in url to go to respective pages</p>
        <p>use /registered to go page where u can send emails to all registered users</p>
        <p>Use /unregistered to go page where u can send email to all unregistered users</p>
        <p>Database class is created in such a way that u can use your own mongodb database to test the app</p>
    </div>
{% endblock %}